.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: stretch;
}
.product-container {
    width: 24%;
    margin: 0;
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-container {
    width: 10%;
    margin: 0;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.product-image {
    width: 100%;
    max-width: 400px;
}
.product-title {
    font-size: 24px;
    margin: 10px 0;
}
.product-price {
    font-size: 20px;
    margin: 10px 0;
}
.product-description {
    font-size: 14px;
    color: #555;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.buy-button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}